<div class="dashboard">
  <div class="map-container">
    <app-maps></app-maps>
  </div>
  <div class="side-panel">




    <div class="view-container" *ngIf="isProjectView">
      <button class="toggle-button" (click)="toggleView()">Show Agents</button>
      <div class="project-card" *ngFor="let project of projects">
        <h3>{{ project.codename }}</h3>
        <div class="status-bar">
          <div class="bar staff" [style.width.%]="project.personnel">Staff Count</div>
          <div class="bar completion" [style.width.%]="project.personnel">Completion Percentage</div>
        </div>
      </div>
    </div>

    <div class="view-container" *ngIf="!isProjectView">
      <button class="toggle-button" (click)="toggleView()">Show Missions</button>
      <div class="employee-card" *ngFor="let employee of employees">

        <div class="left-container">
          <div>
            <img [src]="employee.img" alt="Profile Picture" class="pfp"/>
          </div>

          <div class="employee-name">
            {{ employee.firstName }}
          </div>
        </div>
        <span> {{ employee.location }}</span>
      </div>
    </div>
  </div>
</div>


