
<div class="dashboard">
  <div class="map-container">
    <app-maps></app-maps>
  </div>
  <div class="side-panel">




    <!-- <div class="view-container" *ngIf="isProjectView">
      <button class="toggle-button" (click)="toggleView()">Show Agents</button>
      <div class="project-card" *ngFor="let project of projects">
        <h3>{{ project.codename }}</h3>
        <div class="status-bar">
           <div class="bar staff" [style.width.%]="num">Staff Count</div>
          <div class="bar completion" [style.width.%]="num">Completion Percentage</div> 
        </div>
      </div>
    </div> -->

    <div class="view-container" *ngIf="isProjectView">
      <!-- <button class="toggle-button" (click)="toggleView()">Show Missions</button> -->
      <div class="employee-card" *ngFor="let employee of employees">

        <div class="left-container">

          <div class="employee-photo">
            <img  [src]="employee.img || '../../assets/images/51greylogo.png'" alt="Employee Photo" class="pfp"/>
          </div>

          <div class="employee-name">
            {{ employee.firstName }} {{ employee.lastName }}

          </div>
        </div>
        <span>
          <div class="location">
            <select [(ngModel)]="employee.location.id" name="holderLocal" (change)="updateEmployeeLocation(employee)">
              <option value="" disabled selected hidden>{{ employee.location.locationName ? getLocationLabel(employee.location.id) : 'Location' }}</option>
              <option value="1">Area 51</option>
              <option value="2">Bermuda Triangle</option>
              <option value="3">The Great Pyramids</option>
              <option value="4">Point Nemo</option>
              <option value="5">Pimpirev Ice Wall</option>
              <option value="6">Roswell</option>
              <option value="7">Stonehenge</option>
              <option value="8">Nazca Lines</option>
              <option value="9">Easter Island</option>
              <option value="10">Himeji Castle</option>
              <option value="11">Mount Osore</option>
              <option value="12">The Vatican</option>
              <option value="13">New York</option>
              <option value="14">Moscow</option>
              <option value="15">Paris</option>
              <option value="16">Beijing</option>
              <option value="17">Los Angeles</option>
              <option value="18">Tokyo</option>
              <option value="19">Orlando</option>
              <option value="20">London</option>
              <option value="21">Cincinnati</option>
            </select>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>


