.dashboard {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
}

.map-container {
  flex: 2;
  position: relative;
  margin: 1vw;
}

.side-panel {
  flex: 1;
  padding: 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  overflow-y: auto;
}

.employee-card {
  background-color: var(--primary-color);
  margin-bottom: 20px;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.project-card {
  background-color: var(--primary-color);
  margin-bottom: 20px;
  padding: 1px 10px 15px 10px;
  border-radius: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.status-bar {
  display: flex;
  height: 20px;
  margin-top: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;

  &.staff {
    background-color: #3498db;
    border-radius: 5px 0 0 5px;
  }
  &.completion {
    background-color: #2ecc71;
    border-radius: 0 5px 5px 0;
  }
}

.employee-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.pfp {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.toggle-button {
  margin-bottom: 5px;
  border-radius: 5px;
  border: none ;
}

.left-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.employee-photo {
  margin: 0 10px 0 auto;
  width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
