
<div id="table-header">
    <input type="text" placeholder=" Find Employee..." class="search-input p-inputtext">
    <i class="fas fa-plus" (click)="createEmployee()"><strong>+</strong></i>
</div>


<div class="card-container">    
    @for (employee of employees; track $index){
        <app-employee-card [employee]="employee"
        (updateEmployeeEvent)="updateEmployee($event)"  
        (deleteEmployeeEvent)="processDeleteEvent($event)"></app-employee-card>
    }
</div>

<article>

    <div>
        <div class="row-content">
            <p>1 Jon Provan</p>
        </div>
        <div class="row-content">
            <p>j.provan&#64;mail.com</p>
        </div>
        <div class="row-content">
            <p>123-456-6789</p>
        </div>
        <div class="row-content">
            <p>occupation</p>
        </div>
        <div class="row-content">
            <p>clearance</p>
        </div>
    </div>
    
    
    
    
    

    <div class="action-icons">
        <div class="blue">
            <i class="fas fa-eye" >view</i>
        </div>
        <div class="red">
            <i class="fas fa-trash" >delete</i>
        </div>
    
    </div>
</article>