html, body {
    height: 100%;
    margin: 0;
  }
  
  .main-flexbox {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .app-nav {
    width: 100%;
  }
  
  .router-outlet {
    flex-grow: 1; 
  }
  
  .app-footer {
    width: 100%;
  }