.folder-container {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px;

}

.folder-svg {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.6;
}

.folder-content {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    overflow: visible;
    margin-top: 10%;
    border-radius: 5%;
}

.folder-content h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--text-color);
}

.folder-content p {
    margin: 5px 0;
    color: var(--text-color);
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.action-buttons button {
    background-color: var(--background-color);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-buttons button:hover {
    background-color: var(--primary-color);
}

.top-secret-icon {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: auto;
    z-index: 1;
    margin-top: -20%;
}
