
<div class="folder-container">
  <img src="./assets/images/folder2.svg" alt="Folder" class="folder-svg">

  <div class="folder-content">
    <img *ngIf="project.minClearance.clearanceType === 'Top Secret'" src="./assets/images/top-secret-icon.png" alt="Top Secret" class="top-secret-icon">

    <div *ngIf="!editMode">
      <h3>{{ project.codename }}</h3>
      <p>{{ project.description }}</p>
      <p>Minimum Clearance: {{ project.minClearance.clearanceType }}</p>
      <p>Priority: {{ project.priority }}</p>
      <p>Personnel: {{ project.personnel }}</p>
    </div>

    <div *ngIf="editMode">
      <input type="text" [(ngModel)]="project.codename" placeholder="Project Name" />
      <input type="text" [(ngModel)]="project.description" placeholder="Project Description" />
      <input type="text" [(ngModel)]="project.minClearance.clearanceType" placeholder="Minimum Clearance" />
      <input type="text" [(ngModel)]="project.priority" placeholder="Priority" />
      <input type="number" [(ngModel)]="project.personnel" placeholder="Personnel" />
    </div>

    <div class="action-buttons">
      <button *ngIf="!editMode" (click)="toggleEditMode()">Update</button>
      <div *ngIf="editMode">
        <button (click)="saveUpdate()">Save</button>
        <button (click)="cancelUpdate()">Cancel</button>
      </div>
      <button (click)="deleteThisProject()">Delete</button>
    </div>
  </div>
</div>
