#table-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0.25rem;
    border-radius: 0px;
    font-size: 2rem;
    margin: 0.5% 10% 0 10%;


    input {
        cursor: pointer;
        margin-right: 50px;
        padding: 0.3rem;
        padding-right: 2vw;
        border: 1px solid var(--secondary-color);
        border-radius: 30px;
    }

    i {
      cursor: pointer;
      margin-left: 10px;
      &:hover {
        color: #22d652;
      }
    }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  box-sizing: border-box;
  margin: 0 10vw;
  row-gap: 50px;
  margin-bottom: 100px;
}


