// asset links
//$hero-background-image: url('assets/hero-image.png');

// Light mode colors
$primary-color-light: #6287b5;
$secondary-color-light: #9EABEA;
$background-color-light: #EEF1FA;
$text-color-light: #2D3047;

// Dark mode colors
$primary-color-dark: #2C3878;
$secondary-color-dark: #3A3F51;
$background-color-dark: #1D2133;
$text-color-dark: #c4c4c4;

// Default to light mode
$primary-color: $primary-color-light;
$secondary-color: $secondary-color-light;
$background-color: $background-color-light;
$text-color: $text-color-light;

// Default light mode properties
:root {
  //--hero-background-image: #{$hero-background-image};
  --primary-color: #{$primary-color-light};
  --secondary-color: #{$secondary-color-light};
  --background-color: #{$background-color-light};
  --text-color: #{$text-color-light};
}

// Light mode properties
body.light-mode {
  --primary-color: #{$primary-color-light};
  --secondary-color: #{$secondary-color-light};
  --background-color: #{$background-color-light};
  --text-color: #{$text-color-light};
}

// Dark mode properties
body.dark-mode {
  --primary-color: #{$primary-color-dark};
  --secondary-color: #{$secondary-color-dark};
  --background-color: #{$background-color-dark};
  --text-color: #{$text-color-dark};
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

header, footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
